# Rbasics
.Rproj.user/
.RData
.Rhistory
.Rproj.user
# Documents additional files
documents/**/*.html
documents/**/*.url
documents/**/*_cache/
documents/**/*_files/
documents/**/*_save/
documents/**/*_models/*.Rdata
# Raw data
data/
# Roots unwanted files
NEWS.html