# Rbasics
.Rproj.user/
.RData
.Rhistory
.Rproj.user
# Documents additional files
documents/**/*.html
documents/**/*.docx
documents/**/*.pdf
documents/**/*.url
documents/**/*_cache/
documents/**/*_files/
documents/**/*_save/
documents/**/*_maps
documents/lecture/**/*_data
documents/genomics/**/*_data
documents/genomics/image
documents/genomics/**/figures
documents/**/*.zip
documents/preliminary/sampling/maps_sympho
# Raw data
data/
# Stan models
*.rds
*.Rdata
# Bookdown
_book
*/_bookdown_files
docum*ents/**/*.log
*.RData*
# Poster
documents/**/*-cache/
documents/**/.build/
*.bib
*.csl
documents/**/tex/
documents/**/Makefile*
documents/general/**/*.tex
documents/**/*.markdown
documents/**/*.css
documents/genomics/topography/save
*.ps
*.html
*.tex
*.tsv
# Probes
documents/**/probes/images
*.tiff
*.tif
# No dataset onlines
.httr-oauth
*.csv 
# Bayes_EFT
documents/**/Bayes_EFT/*.txt
documents/**/Bayes_EFT/documents
documents/**/Bayes_EFT/*_files
documents/**/Bayes_EFT/*.odc
documents/**/Bayes_EFT/*.zip
# stan lecture
documents/**/stan_data/*
# Anne computer
.DS_Store
# EFPA
documents/lectures/EFPA
# thesis
documents/thesis/chapter_previews
# shiny.io
**/rsconnect
